<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<form th:action="@{'/car/' + ${car.id}}" th:object="${car}" method="POST">
<table border="1">
    <tr>
        <th>ID</th>
        <th>Modèle</th>
        <th>Marque</th>
        <th>Option</th>
    </tr>
    <td th:utext="${car.id}"></td>
    <td><input th:field="*{name}" /></td>
    <td><input th:field="*{brand}" /></td>
    <td><input type="submit" value="modifier"/></td>
</table>
</form>
</body>
</html>