<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Car List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Car List</h1>
<a href="addCar">Add Car</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Modèle</th>
            <th>Marque</th>
            <th>Options</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:utext="${car.name}">...</td>
            <td th:utext="${car.brand}">...</td>
            <td>
                <a th:href="@{'/car/'+ ${car.id}}">Voir</a> -
                <a href="#" class="delete" th:data-link="@{'/car/' + ${car.id}}">Supprimer</a>
            </td>
        </tr>
    </table>
</div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $('.delete').on("click", (e) => {
            e.preventDefault(),
        var link = $(e.target).data('link');
        $.ajax({
            url: link,
            method: 'delete',
            success: function () {
                location.reload();
            }
        })
        })
    </script>
</body>
</html>